body, html {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  

  .fantasy-container {
    display: flex;
    flex-direction: row; /* Change flex direction to row */
    height: 70vh; /* Set height to 100vh */
    overflow: hidden;
    align-items: center;
    padding-inline-start: 10%;
  
    /* flex-direction: column; */
  }
  
  .fantasy-rulebook-large-div {
    display: flex;
    width: 25%; /* Each div fills one-third of the container */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid black;/* Just for visualization */
    border-top-left-radius: 50% 200px; /* Adjust the border-radius values to create the arch */
    border-top-right-radius: 50% 200px; /* Adjust the border-radius values to create the arch */
    overflow: hidden;
  }

  .fantasy-rulebook-centered-button {
    margin-top: 500px; /* Adjust the margin for spacing */
        font-family: 'Garamond', serif;
        font-size:x-large;
        border: 0cap;
        color:#8B4513;
        background-color:#fffaf6;
     
  
  }
  .fantasy-rulebook-centered-button:hover {
    color: #fffaf6;
    background-color: #8B4513;
    border: none;
    cursor: pointer;
    outline: 0;
}
  .fantasy-rulebook-background-image {
    width: 100%; /* Ensure the background container takes the full width of the container */
    height: 100%; /* Ensure the background container takes the full height of the container */
    background-image: url('../../../public/images/fantasy-spellbook.jpeg'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center !important;/* Center the background image */
  }
  .Resource-background-imageTwo {
    width: 100%; /* Ensure the background container takes the full width of the container */
    height: 100%; /* Ensure the background container takes the full height of the container */
    background-image: url('../../../public/images/fantasy-book.jpeg'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center !important;/* Center the background image */
  }
  .fantasy-rulebook-background-imageThree {
    width: 100%; /* Ensure the background container takes the full width of the container */
    height: 100%; /* Ensure the background container takes the full height of the container */
    background-image: url('../../../public/images/new-fantasy-backpack.avif'); /* Specify the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center !important;/* Center the background image */
  }
  